{%extends "base.html" %}{% block content %}


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/media/logo03.jpeg" style="width:50px">
      </a>




    </div>
  </div>
</nav>
<div class="container">
<h1>Appointments</h1>
<a href="/appointments/add/" class="btn btn-primary">Create New Appointment</a>
<table class="table">
  <thead>
    <tr>

      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Destiny</th>
    </tr>
  </thead>
  <tbody>

    {% for appointment in object_list %}
        <tr>
      <th scope="row">{{appointment.pk}}</th>
      <td>{{ appointment.appointment_id }}</td>
      <td>{{ appointment.appointment_name }}</td>

      <td><a href="/appointments/view/{{ appointment.pk }}/" class="btn btn-primary">View</a></td>

    </tr>

{% empty %}
    <th scope="row">1</th>
    <td>No Cusromer yet.</td>
{% endfor %}





  </tbody>
</table>

</div>

{% endblock  %}