{%extends "base.html" %}{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/media/logo03.jpeg" style="width:50px">
      </a>





    </div>
  </div>
</nav>

<div class="container">
<h1>Create New Customer</h1>
<form method="post">{% csrf_token %}
<div class="form-group">
    {{ form.as_p }}
    <input type="submit" value="Save">
</form></div></div>
{% endblock  %}