{%extends "base.html" %}{% block content %}


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/media/logo03.jpeg" style="width:50px">
      </a>




    </div>
  </div>
</nav>
<div class="container">
<h1>Customers</h1>
<a href="/customer/add/" class="btn btn-primary">Create New Custumer</a>
<table class="table">
  <thead>
    <tr>

      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Destiny</th>
    </tr>
  </thead>
  <tbody>

    {% for customer in object_list %}
        <tr>
      <th scope="row">{{customer.pk}}</th>
      <td>{{ customer.first_name }}</td>
      <td>{{ customer.last_name }}</td>

      <td><a href="/customers/view/{{ customer.id }}/" class="btn btn-primary">View</a></td>

    </tr>

{% empty %}
    <th scope="row">1</th>
    <td>No Cusromer yet.</td>
{% endfor %}

{% endblock  %}



  </tbody>
</table>

</div>

