{%extends "base.html" %}{% block content %}






<div class="container-fluid">

    <div class="row">
        <nav id="sideNav" class="col-lg-3">


             <div class="row superior-side">
               <div class="col-lg-4"><img class="float-rigth" src="/media/logo03.jpeg"  style="width:50px"></div>
               <div class="col-lg-8"><h4>Wellcome {{request.user.profile}}</h4></div>

              </div>
              <div class="row sidebar-container">


      {% if user.is_authenticated %}
      <div class="menu">




      <ul >
      <li><a href="/passengers/list/">Customers</a></li>
      <li><a href="/services/list/">Services</a></li>
      <li><a href="/invoices/list/">Invoices</a></li>
      </ul>

      </div>
      {% else %}

      {% endif %}



              </div>





        </nav>


        <div id="mainContent" class="col-lg-9">
           <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Passengers</h1>

        <a href="/passengers/list/" class="btn btn-primary">List</a>
        <a href="/passenger/add/" class="btn btn-primary">New</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Invoices</h1>

        <a href="/invoices/list/" class="btn btn-primary">List</a>
        <a href="/invoces/add/" class="btn btn-primary">New</a>

      </div>
    </div>
  </div>
</div>

        </div>
    </div>
</div>{%endblock%}

