{%extends "base.html" %}{% block content %}


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/media/logo03.jpeg" style="width:50px">
      </a>


<div class="container"><h2>Wellcome{{request.user.username}}</h2></div>

    </div>
  </div>
</nav>



<div class="container">

        <p>You are logged out. <a href="{% url 'login' %}">Click here</a> to login again.</p>

    </div>




{% endblock  %}



  </tbody>
</table>

</div>

